/* Dedicated to God the Father */

/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2024 */

/* https://github.com/ChristopherTopalian */

/* https://github.com/ChristopherAndrewTopalian */

/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

a
{
    color: rgb(100, 100, 100);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.mainDiv
{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.jsTextbox
{
    position: absolute;
    left: 10px;
    top: 2px;
    width: 100vw;
    height: 250px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(200, 200, 200);
    text-align: left;
    overflow: hidden;
    z-index: 1;
}

.controlsDiv
{
    position: absolute;
    left: 10px;
    top: 150px;
    z-index: 2;
}

.titleStyle001
{
    font-family: Arial;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.buttonStyle001
{
    background-color: rgb(0, 0, 0);
    margin-left: 4px;
    margin-right: 4px;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 8px;
    padding-left:  10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 1.0);
}

.buttonStyle001:hover
{
    border-color: rgb(0, 255, 255);
    color: aqua;
}

.buttonStyle001:active
{
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
}

.textboxStyle001
{
    background-color: rgb(40, 40, 40);
    width: 70px;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(120, 120, 120);
    line-height: 22px;
    text-align: center;
    resize: none;
}

input[type = "range"]
{
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: linear-gradient(to right, rgb(10, 25, 47), rgb(0, 180, 255));
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type = "range"]:hover
{
    opacity: 1;
}

/* chrome and chromium */
input[type = "range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:rgb(0, 180, 255);
    border: solid 2px rgb(20, 20, 20);
    border-radius: 50%;
    cursor: pointer;
}

/* mozilla */
input[type = "range"]::-moz-range-thumb
{
    height: 16px;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 50%;
    cursor: pointer;
}

